{% extends "padre.html" %}


{% block contenido %}

 <main class='main-container' style='text-align:center;'>

  <h2>Sobre Mi</h2>
  
  <p style='font-size: 20px;'> Mi nombre es Homero Parra, tengo 20 años y actualmente me mantengo estudiando pero busco mi primera experiencia laboral. En CoderHouse he realizado ya varios cursos: Ciberseguridad, carrera de Desarrollo Web Front-End React, Diseño UX-UI y este ultimo de Python. Vivo en Buenos Aires, Lomas de Zamora y soy un completo apasionado por la tecnologia. Manejo una computadora desde que tengo memoria.</p>


 </main>
    
{% endblock contenido %}
    