{% extends "padre.html" %}


{% block contenido %}

<main class='main-container'>

    <section style='margin-bottom: 10px'>

        {% for p in productos %}
        
        <li>{{p}}</li>
        <button class='button'>

            <a style='text-decoration:none; color:black ;' href="{% url 'eliminar-producto' p.pk %}">Eliminar</a>
        </button>
        <button class='button'>
            <a style='text-decoration:none; color:black ;' href="{% url 'editar-producto' p.pk %}">Editar</a>
        </button>
        
        {% endfor %}
    </section>
       
    <a class='a-main' href="{% url 'agg' %}"> Agregar otro producto</a>

</main>



{% endblock contenido %}