{% extends "padre.html" %}


{% block contenido %}

<main class='main-container'>

    <p>Estamos buscando productos con precio de: {{precio}}</p>
    
    
    {% if productos %}
    
    <ul style="margin-top: 10px;">
        {% for producto in productos %}
        
        <li>{{producto.nombre}}: ${{producto.precio}}</li>
        
        {% endfor %}
    </ul>    
    {% else %}
    <p>No se encontraron productos con los datos de busqueda</p>
    {% endif %}
</main>
    



    
    
{% endblock contenido %}
    